<nav class="bg-white shadow-md sticky top-0 z-50">

    <div class="max-w-7xl mx-auto px-6">

        <div class="flex justify-between items-center h-20">

            <!-- Logo -->
            <a href="/" class="text-3xl font-bold text-emerald-600">
                🧹 CleanPro
            </a>

            <!-- Links -->
            <div class="hidden md:flex gap-8 text-lg">

                <a href="/" class="hover:text-emerald-600">
                    Inicio
                </a>

                <a href="/#servicios" class="hover:text-emerald-600">
                    Servicios
                </a>

                <a href="/#productos" class="hover:text-emerald-600">
                    Productos
                </a>

                <a href="/login"
   class="bg-gray-900 text-white px-4 py-2 rounded-lg hover:bg-black transition">

    🔐 Admin

</a>

                <a href="/dashboard" class="hover:text-emerald-600">
                    Dashboard
                </a>

                <a href="/cart" class="hover:text-emerald-600">
    🧺           Carrito ({{ session.get('cart', [])|length }})
                </a>


            </div>

            <!-- CTA -->
            <a href="/#contacto"
               class="bg-emerald-600 text-white px-6 py-3 rounded-xl hover:bg-emerald-700 transition">

                Solicitar Cotización

            </a>

        </div>

    </div>

</nav>